.thumbnail {
  margin-bottom: 4em;
}

/* img {
  border-radius: 50%;
} */

/* .thumbnail {
border: 0;
} */

/* .img {
  border: 1px;
} */

/* .thumbnail { */
    /* position: relative;
    display: inline-block;
}
.thumbnail .img-top {
    width: 91%;
    display: none;
    position: absolute;
    top: 0;
    left: 500;
    z-index: 99;
}
.thumbnail:hover .img-top {
    border-radius: 50%;
    display: inline;
    } */
